.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  color: #000000;
  font-family: Inter, arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  color: #000000;
}

.form__button {
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin-bottom: 32px;
  background-color: #1878dc;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: background-color 0.54s linear;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #187bdc url(../images/check.svg);
  color: #000000;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.placeholder {
  color: #838383;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
